<style type="text/css"> 
body{text-align:center;}
#bg{width:1070px;margin:auto;background-image:url(images/bg.jpg);}
#title_bg{margin:auto;background-image:url(images/1.png);font-size: 18pt;min-height:100px;max-height:100px;}

.blank1{font-size: 0pt;}

#date{font-size: 12pt;font-family:sans-serif;text-align:right;}



.cat_name_area{margin:2%;background-image:url(images/t-bg02.png);min-height:100px;max-height:100px;}
.cat_table td{font-size: 40pt;font-family:sans-serif;text-align:left;vertical-align:middle;height:100px;}


#property{width:1050px;margin:auto;background-image:url(images/t-bg01.png);}
#fgsz_list{width:100%;font-size: 22pt;font-family:sans-serif;text-align:right;align:center;text-align:center;}
#property_list{width:100%;font-size: 22pt;font-family:sans-serif;text-align:right;align:center;text-align:center;}
#property_left td{font-size: 22pt;font-family:sans-serif;text-align:right;align:center;text-align:center;}


.text_bg{margin:2%;background-image:url(images/bg02.png);}
.text_area{margin:0%;word-wrap:break-word; word-break:break-all;font-size: 33pt;font-family:sans-serif;text-align:left;overflow-y:auto; min-height:804px;max-height:804px;}


#interact_bg{width:1050px;margin:auto;background-image:url(images/bg02.png);}


.repair_form {  
            border: 1px solid #B1CDE3;  
            padding:0;   
            margin:0 auto;  
            border-collapse: collapse;  
 
        }  

</style>