<style type="text/css"> 
body{text-align:center;}

#bg{width:1080px;margin:auto;background-image:url(images/bg.jpg);}
#title_bg{width:1080px;margin:auto;background-image:url(images/title.jpg);text-align:center;font-size: 18pt;}

.blank1{font-size: 12pt;}

#date{font-size: 12pt;font-family:sans-serif;text-align:right;}



.cat_name_area{width:1050px;margin:auto;background-image:url(images/t-bg02.png);min-height:100px;max-height:100px;vertical-align:middle;}
.cat_table td{font-size: 40pt;font-family:sans-serif;text-align:left;vertical-align:middle;height:100px;width:100%}


#property{width:1050px;margin:auto;background-image:url(images/t-bg01.png);}
#fgsz_list{width:100%;font-size: 22pt;font-family:sans-serif;text-align:right;align:center;text-align:center;}
#property_list{width:100%;font-size: 22pt;font-family:sans-serif;text-align:right;align:center;text-align:center;}
#property_left td{font-size: 22pt;font-family:sans-serif;text-align:right;align:center;text-align:center;}


.text_bg{width:1050px;margin:auto;background-image:url(images/bg02.png);}
.text_area{width:1050px;margin:auto;word-wrap:break-word; word-break:break-all;font-size: 42pt;font-family:sans-serif;text-align:left;overflow-y:auto; min-height:810px;max-height:810px;}


#interact_bg{width:1050px;margin:auto;background-image:url(images/bg02.png);}
.img_area{width:1050px;margin:auto;word-wrap:break-word; word-break:break-all;font-size: 42pt;font-family:sans-serif;text-align:left;overflow-y:auto; min-height:810px;max-height:810px;}


.repair_form {  
            border: 1px solid #B1CDE3;  
            padding:0;   
            margin:0 auto;  
            border-collapse: collapse;  
 
        }  

</style>